<!doctype html>
<html>
<head>
    <title>wallet.py</title>
</head>
<body>
    <h1>File Upload</h1>

    <h2>Movimentação CEI/B3 (CSV/XLSX)</h2>
    <form id="uploadForm" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <h2>Extrato Avenue (CSV) (TODO)</h2>
    <form id="uploadForm" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <h2>Output</h2>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
