<!doctype html>
<html>
<head>
    <title>Wallet - Upload CSV</title>
    <script type="text/javascript">
        function submitForm() {
            document.getElementById("uploadForm").submit();
        }
    </script>
</head>
<body>
    <h1>Upload your investment CSV</h1>
    <form id="uploadForm" method="post" enctype="multipart/form-data">
        <input type="file" name="file" onchange="submitForm()">
        <input type="submit" value="Upload" style="display: none;">
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
