{% extends "base.html" %}
{% block content %}
    <h1>Investment Data</h1>

    <!-- Botão para Mostrar/Ocultar o Formulário de Filtro -->
    <button type="button" class="btn btn-info" onclick="toggleFilters()">Mostrar/Ocultar Filtros</button>

    <!-- Formulário de Filtro em um Container -->
    <form method="post" action="/view" id="filterForm" class="form-inline" style="display: none;">

        <div class="form-group">
            <label for="entrada_saida">Entrada/Saída:</label>
            <input type="text" id="entrada_saida" name="entrada_saida" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="data">Data:</label>
            <input type="text" id="data" name="data" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="movimentacao">Movimentação:</label>
            <input type="text" id="movimentacao" name="movimentacao" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="produto">Produto:</label>
            <input type="text" id="produto" name="produto" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="instituicao">Instituição:</label>
            <input type="text" id="instituicao" name="instituicao" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="preco_unitario">Preço Unitário:</label>
            <input type="number" id="preco_unitario" name="preco_unitario" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="valor_operacao">Valor da Operação:</label>
            <input type="number" id="valor_operacao" name="valor_operacao" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>

    <!-- Tabela de Dados -->
    <div class="table table-striped mt-3">
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    </div>

    <script>
        function toggleFilters() {
            var filterForm = document.getElementById("filterForm");
            if (filterForm.style.display === "none") {
                filterForm.style.display = "block";
            } else {
                filterForm.style.display = "none";
            }
        }
    </script>
{% endblock %}
