{% extends "base.html" %}
{% block content %}
    <h1>Asset Data for "{{ info['name'] }}"</h1>

    <h2>Information</h2>
    <p>Ticker: {{ info['ticker'] }}</p>
    <p>Position: {{ info['position_sum'] }} ({{ info['rented'] }} rented)</p>
    <p>Wages: {{ info['wages_sum'] }}</p>
    <p>Rent Incomes: {{ info['rents_income_sum'] }}</p>
    <p>First buy: {{ info['first_buy'] }} ({{ info['age'] }} days)</p>

    <h2>Buys</h2>
    <div class="table table-striped mt-3">
        {% for row in buys_events %}
            {{ row|safe }}
        {% endfor %}
    </div>

    <h2>Sells</h2>
    <div class="table table-striped mt-3">
        {% for row in sells_events %}
            {{ row|safe }}
        {% endfor %}
    </div>

    <h2>Wages</h2>
    <div class="table table-striped mt-3">
        {% for row in wages_events %}
            {{ row|safe }}
        {% endfor %}
    </div>

    <h2>All</h2>
    <div class="table table-striped mt-3">
        {% for row in all_events %}
            {{ row|safe }}
        {% endfor %}
    </div>
{% endblock %}
