{% extends "base.html" %}
{% block content %}
    <h1>Asset Data for "{{ info['name'] }}"</h1>

    <h2>Information</h2>
    <p>Position: {{ info['position_sum'] }} ({{ info['rented'] }} rented)</p>
    <p>Incomes: {{ info['incomes_sum'] }}</p>
    <p>Rent Incomes: {{ info['rents_income_sum'] }}</p>
    <p>First buy: {{ info['first_buy'] }}</p>
    <p>Age: {{ info['age'] }} days</p>

    <h2>Buy/Sell Events</h2>
    <p>TODO</p>

    <h2>Income Events</h2>
    <div class="table table-striped mt-3">
        {% for row in income_events %}
            {{ row|safe }}
        {% endfor %}
    </div>
{% endblock %}
