{% extends "base.html" %}
{% block content %}
    <h1>Asset Data for "{{ info['name'] }}"</h1>

    <h2>Information</h2>
    <p>Ticker: {{ info['ticker'] }}</p>
    <p>Last Close Price: {{ info['currency'] }} {{ info['last_close_price'] }}</p>
    <p>Buy Average Price: {{ info['currency'] }} {{ info['buy_avg_price'] }}</p>
    <!-- <p>Currency: {{ info['currency'] }}</p> -->
    <p>Position: {{ info['position_sum'] }} ({{ info['rented'] }} rented)</p>
    <p>Position: {{ info['currency'] }} {{ info['position_total'] }}</p>
    <p>Total Cost: {{ info['currency'] }} {{ info['total_cost'] }}</p>
    <p>Wages: {{ info['currency'] }} {{ info['wages_sum'] }}</p>
    <p>Rent Wages: {{ info['currency'] }} {{ info['rents_wage_sum'] }}</p>
    <p>Liquid Cost: {{ info['currency'] }} {{ info['liquid_cost'] }}</p>
    <p>First buy: {{ info['first_buy'] }} ({{ info['age'] }} days)</p>
    <p>Rentabiliy: {{ info['rentability'] }} %</p>

    <h2>Buys</h2>
    <div class="table table-striped mt-3">
        {% for row in buys_events %}
            {{ row|safe }}
        {% endfor %}
    </div>
    <p>Buys Total: {{ info['currency'] }} {{ info['total_buy'] }}</p>

    <h2>Sells</h2>
    <div class="table table-striped mt-3">
        {% for row in sells_events %}
            {{ row|safe }}
        {% endfor %}
    </div>
    <p>Sells Total: {{ info['currency'] }} {{ info['total_sell'] }}</p>

    <h2>Wages</h2>
    <div class="table table-striped mt-3">
        {% for row in wages_events %}
            {{ row|safe }}
        {% endfor %}
    </div>

    <h2>All Negotiation</h2>
    <div class="table table-striped mt-3">
        {% for row in all_negotiation %}
            {{ row|safe }}
        {% endfor %}
    </div>

    <h2>All Movimentations</h2>
    <div class="table table-striped mt-3">
        {% for row in all_events %}
            {{ row|safe }}
        {% endfor %}
    </div>
{% endblock %}
