{% macro render(df) -%}
<div class="table table-sm table-striped mt-3">
    <table
    data-toggle="table"
    data-sticky-header="true"
    data-fixed-columns="true"
    data-fixed-number="1"
    data-show-columns="true"
    data-show-columns-toggle-all="true"
    >
        <thead>
            <tr>
                {% for column in df.columns %}
                <th data-sortable="true">
                    {{ column|safe }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in df.itertuples(index=False) %}
            <tr>
                {% for item in row %}
                <td>
                    {{ item|safe }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%- endmacro %}