{% extends "base.html" %}
{% block content %}
    <h1>B3 Movimentation Data</h1>

    <!-- Botão para Mostrar/Ocultar o Formulário de Filtro -->
    <button type="button" class="btn btn-info" onclick="toggleDisplay('filterForm')">Filter</button>
    <div class="container" id="filterForm" style="display: none;">
        <h2>Filter</h2>
        <form method="POST" class="form-inline">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.entrada_saida.label(class="form-control-label") }} {{ form.entrada_saida(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.data.label(class="form-control-label") }} {{ form.data(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.movimentacao.label(class="form-control-label") }} {{ form.movimentacao(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.produto.label(class="form-control-label") }} {{ form.produto(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.instituicao.label(class="form-control-label") }} {{ form.instituicao(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.quantidade.label(class="form-control-label") }} {{ form.quantidade(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.preco_unitario.label(class="form-control-label") }} {{ form.preco_unitario(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.valor_operacao.label(class="form-control-label") }} {{ form.valor_operacao(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

    <!-- Tabela de Dados -->
    <div class="table table-striped mt-3">
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    </div>
{% endblock %}
