{% extends "base.html" %}
{% block content %}
    <h1>Generic Extract Data</h1>
    <button type="button" class="btn btn-info" onclick="toggleDisplay('addForm')">Add Entry</button>
    <div class="container" id="addForm" style="display: none;">
        <h2>Add Entry</h2>
        <form method="POST" class="form-inline">
            {{ addForm.hidden_tag() }}
            <div class="form-group">
                {{ addForm.date.label(class="form-control-label") }}
                {{ addForm.date(class="form-control") }}
            </div>
            <div class="form-group">
                {{ addForm.asset.label(class="form-control-label") }}
                {{ addForm.asset(class="form-control") }}
            </div>
            <div class="form-group">
                {{ addForm.movimentation.label(class="form-control-label") }}
                {{ addForm.movimentation(class="form-control") }}
            </div>
            <div class="form-group">
                {{ addForm.quantity.label(class="form-control-label") }}
                {{ addForm.quantity(class="form-control") }}
            </div>
            <div class="form-group">
                {{ addForm.price.label(class="form-control-label") }}
                {{ addForm.price(class="form-control") }}
            </div>
            <div class="form-group">
                {{ addForm.total.label(class="form-control-label") }}
                {{ addForm.total(class="form-control") }}
            </div>
            <div class="form-group">
                {{ addForm.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

    <div class='container'>
        {{ table|safe }}
    </div>
{% endblock %}
