{% extends "base.html" %}
{% block content %}
    <h1>Asset Data for "{{ info['name'] }}"</h1>

    <h2>Information</h2>
    <p>Ticker: {{ info['ticker'] }}</p>
    <p>Full Name: {{ info['long_name'] }}</p>
    <p>Close Price: {{ info['currency'] }} {{ info['last_close_price'] }} ({{ info['price_gain'] }} %)</p>
    <!-- <p>Currency: {{ info['currency'] }}</p> -->
    <p>Position: {{ info['position'] }} ({{ info['rented'] }} rented)</p>
    <p>Position: {{ info['currency'] }} {{ info['position_total'] }}</p>
    <p>Average Price: {{ info['currency'] }} {{ info['avg_price'] }}</p>
    <p>Cost: {{ info['currency'] }} {{ info['cost'] }}</p>
    <p>Wages: {{ info['currency'] }} {{ info['wages_sum'] }}</p>
    <p>Rent Wages: {{ info['currency'] }} {{ info['rents_wage_sum'] }}</p>
    <p>Taxes: {{ info['currency'] }} {{ info['taxes_sum'] }}</p>
    <p>Liquid Cost: {{ info['currency'] }} {{ info['liquid_cost'] }}</p>
    <p>Sells: {{ info['currency'] }} {{ info['sells_value_sum'] }}</p>
    <p>Realized Gain: {{ info['currency'] }} {{ info['realized_gain'] }}</p>
    <p>Not Realized Gain: {{ info['currency'] }} {{ info['not_realized_gain'] }}</p>
    <p>Capital Gain: {{ info['currency'] }} {{ info['capital_gain'] }}</p>
    <p>Rentabiliy: {{ info['rentability'] }} % ({{ info['anualized_rentability'] }} %/y)</p>
    <p>First buy: {{ info['first_buy'] }} ({{ info['age'] }} days)</p>

    <h2>Buys</h2>
    <p>Buys Total: {{ info['currency'] }} {{ info['buys_value_sum'] }}</p>
    <div class="table table-striped mt-3">
        {{ buys|safe }}
    </div>

    <h2>Sells</h2>
    <p>Sells Total: {{ info['currency'] }} {{ info['sells_value_sum'] }}</p>
    <div class="table table-striped mt-3">
        {{ sells|safe }}
    </div>

    <h2>Wages</h2>
    <div class="table table-striped mt-3">
        {{ wages|safe }}
    </div>

    <h2>Taxes</h2>
    <div class="table table-striped mt-3">
        {{ taxes|safe }}
    </div>

    {% if all_negotiation %}
        <h2>Negotiation (All)</h2>
        <div class="table table-striped mt-3">
            {{ negotiation|safe }}
        </div>
    {% endif %}

    <h2>Movimentation (All)</h2>
    <div class="table table-striped mt-3">
        {{ movimentation|safe }}
    </div>
{% endblock %}
