{% extends "base.html" %}
{% block content %}
    <h1>Consolidate Data</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="p-3 border bg-light">
                <h2>BRL</h2>
                <p>Cost: {{ info['BRL']['cost'] }}</p>
                <p>Liquid Cost: {{ info['BRL']['liquid_cost'] }}</p>
                <p>Position: {{ info['BRL']['position'] }} ({{ info['BRL']['rentability'] }} %)</p>
                <p>Wages: {{ info['BRL']['wages'] }}</p>
                <p>Rent Wages: {{ info['BRL']['rents'] }}</p>
                <p>Taxes: {{ info['BRL']['taxes'] }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 border bg-light">
                <h2>USD</h2>
                <p>Cost: {{ info['USD']['cost'] }} (BRL {{ info['USD/BRL']['cost'] }})</p>
                <p>Liquid Cost: {{ info['USD']['liquid_cost'] }} (BRL {{ info['USD/BRL']['liquid_cost'] }})</p>
                <p>Position: {{ info['USD']['position'] }} ({{ info['USD']['rentability'] }} %)</p>
                <p>Wages: {{ info['USD']['wages'] }} (BRL {{ info['USD/BRL']['wages'] }})</p>
                <p>Rent Wages: {{ info['USD']['rents'] }} (BRL {{ info['USD/BRL']['rents'] }})</p>
                <p>Taxes: {{ info['USD']['taxes'] }} (BRL {{ info['USD/BRL']['taxes'] }})</p>
                <p>USD/BRL: {{ info['usd_brl'] }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 border bg-light">
                <h2>Consolidate</h2>
                <p>Cost: {{ info['TOTAL']['cost'] }}</p>
                <p>Liquid Cost: {{ info['TOTAL']['liquid_cost'] }}</p>
                <p>Position: {{ info['TOTAL']['position'] }} ({{ info['TOTAL']['rentability'] }} %)</p>
                <p>Wages: {{ info['TOTAL']['wages'] }}</p>
                <p>Rent Wages: {{ info['TOTAL']['rents'] }}</p>
                <p>Taxes: {{ info['TOTAL']['taxes'] }}</p>
            </div>
        </div>
    </div>    

    <h2>Assets</h2>
    <div class="table table-striped mt-3">
        {{ consolidate|safe }}
    </div>

    <h2>Finished</h2>
    <div class="table table-striped mt-3">
        {{ old|safe }}
    </div>
{% endblock %}
