{% extends "base.html" %}
{% block content %}
    <h1>B3 Movimentation Data</h1>

    <!-- Botão para Mostrar/Ocultar o Formulário de Filtro -->
    <button type="button" class="btn btn-info" onclick="toggleDisplay('filter_form')">Filter</button>
    <div class="container" id="filter_form" style="display: none;">
        <h2>Filter</h2>
        <form method="POST" class="form-inline">
            {{ filter_form.hidden_tag() }}
            <div class="form-group">
                {{ filter_form.entrada_saida.label(class="form-control-label") }} {{ filter_form.entrada_saida(class="form-control") }}
            </div>
            <div class="form-group">
                {{ filter_form.data.label(class="form-control-label") }} {{ filter_form.data(class="form-control") }}
            </div>
            <div class="form-group">
                {{ filter_form.movimentacao.label(class="form-control-label") }} {{ filter_form.movimentacao(class="form-control") }}
            </div>
            <div class="form-group">
                {{ filter_form.produto.label(class="form-control-label") }} {{ filter_form.produto(class="form-control") }}
            </div>
            <div class="form-group">
                {{ filter_form.instituicao.label(class="form-control-label") }} {{ filter_form.instituicao(class="form-control") }}
            </div>
            <div class="form-group">
                {{ filter_form.quantidade.label(class="form-control-label") }} {{ filter_form.quantidade(class="form-control") }}
            </div>
            <div class="form-group">
                {{ filter_form.preco_unitario.label(class="form-control-label") }} {{ filter_form.preco_unitario(class="form-control") }}
            </div>
            <div class="form-group">
                {{ filter_form.valor_operacao.label(class="form-control-label") }} {{ filter_form.valor_operacao(class="form-control") }}
            </div>
            <div class="form-group">
                {{ filter_form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    
    <div class='container'>
        {{ table|safe }}
    </div>
{% endblock %}
